* {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 32pt;
}

.header {
    margin-top: 10px;
}

#options {
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.ui-pnotify-text {
    font-size: 14px;
}

.ui-pnotify-title {
    font-weight: 700;
}