* {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.embed-responsive {
    padding-bottom: 75%;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .embed-responsive {
        padding-bottom: 56.25%;
    }
    h1 {
        text-align: left;
    }
    #score {
        text-align: right;
    }
}

.container {
    text-align: center;
}

#header-section {
    margin-top: 10px;
}

.score-col {
    height: 2em;
    line-height: 2.4;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    font-weight: 900;
    margin: 0 0 0 0;
}

h2 {
    font-size: 32pt;
    margin-top: 15px;
    margin-bottom: 0;
}

.score-glyph {
    color: #d3d3d3;
    margin: 0 1px;
}

.score-success {
    color: #3c763d;
}

.score-error {
    color: #a94442;
}

#video-section {
    background-color: black;
}

.video-row {
    padding: 10px 0 10px 0;
}

#quiz-section {
    margin-bottom: 10px;
}

#options {
    margin-top: 10px;
}

.ui-pnotify-text {
    font-size: 16px;
}

.ui-pnotify-title {
    font-weight: 700;
}

.btn {
    border-radius: 30px;
    color: #ffffff;
    background: #2196F3 none;
    border-color: #1565C0;
}

.btn:hover {
    background: #1565C0 none;
}

.modal-title {
    font-weight: 700;
}

.wrapper {
    margin-bottom: -40px;
    min-height: 100%;
}

.wrapper:after {
    content: "";
    display: block;
}

#footer, .wrapper:after {
    height: 40px;
}

#footer {
    width: 100%;
    margin: 0 auto;
}


.btn-sample {
    color: #ffffff;
    background-color: #2196F3;
    border-color: #0D47A1;
}

.footer-links {
    margin: 0;
    list-style: none;
}

.footer-links > li {
    margin-left: 15px;
    display: inline-block;
}

a.email, .copyright {
    font-size: 14px;
}
